html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.hide {
    right: -450px !important;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
}

.nav-container {
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    font-family: 'Roboto Slab', 'sans-serif';
    box-shadow: 0 0 4px 1px #dfd6d6;
    color: #8e75bd;
    font-size: 14px
}

.nav-list .item {
    padding: 0 10px;
}

/*auth modal*/

.authModal-body {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
    font-family: Work Sans, sans-serif;
    font-size: 12px;

}

.authModal-body input {
    font-weight: 700;
    padding: 10px 8px;
    border: 1px solid #afafaf;
    border-radius: 4px;
    margin: 10px 0;
}

.authModal-body button {
    font-weight: 700;
}


/* auth footer*/

.create {
    color: #594284;
}

#signIn .modal-footer {
    display: flex;
    justify-content: space-between;
    color: #afafaf;
    font-size: 12px;

}

#signup .modal-footer {
    display: flex;
    justify-content: flex-end;
    color: #afafaf;
    font-size: 12px;
}

.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}

.banner>h1 {
    font-size: 45px
}

.banner>p {
    color: #645f5f;
    font-weight: 500;
}

.banner-form {
    width: 700px;

}

.banner-form>div>span {
    font-weight: 600;
    background-color: white;
    padding: 0px 10px;
    border: 0;
}

.banner-form>div>span>div {
    background-color: #594284;
    color: white;
    padding: 3px 5px;
    border-radius: 3px
}

.banner-form>div>input {
    font-weight: 500;
    border: 0
}

.form-control: {
    box-shadow: none;
}

.banner-form .searchbtn {
    background-color: #594284;
    color: white;
    padding: 10px 30px;

}

/*mobile search bar*/
.searchbar {
    display: none;
}

@media (max-width:1000px) {
    .banner {
        display: none;
    }

    .searchbar {
        display: flex;
        margin: 48px 48px 0;
    }

    .searchbar div.input-group div {
        background-color: #594284;
        color: white;
    }
}

.data-container {
    display: flex;
}

.data-side-bar {
    position: static;
    width: 250px;
    padding: 10px;
}

.data-side-bar ul {
    padding-top: 20px;
}

.data-side-bar ul li {
    padding: 10px;
    margin-bottom: 10px;
}

.data-side-bar ul li:hover {
    color: #8e75bd
}

.data-side-bar ul li .header {
    display: flex;
    align-items: center;
}

.data-side-bar ul li .header>.header-left {
    flex-grow: 2
}

.product-data {
    width: calc(100% - 250px);
    min-height: 100vh;
    height: auto;
    background-color: #fde9ff;
    padding: 20px;
}

.product-data .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*product card */
.item-card {
    padding: 10px;
    width: 220px;
}

.item-card .main-body {
    background-color: #ffffff;
}

.item-card .main-body img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.item-card .main-body .card-data {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: inherit;
    color: inherit;
    text-align: center;
    padding: 0 15px;
}

.item-card .main-body .card-data .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-card .main-body .card-data .product-price {
    display: flex;
    align-items: center;
    background-color: #594284;
    color: #ffffff;
    padding: 5px 18px;
    border-radius: 8px;
    margin-top: 8px;
    justify-content: center;
}

.item-card .main-body .card-data .add-cart {
    background-color: inherit;
    margin: 17px 0;
    border-radius: 22px;
    padding: 8px 34px;
    font-weight: 600;
    border: 1px solid #e8e8e6
}

.item-card .main-body .card-data .add-cart:hover {
    background: #0b840b;
    color: #ffffff;
}

@media (max-width: 800px) {
    .product-data .card {
        margin: 5;
    }
}

@media(max-width:500px) {
    .data-side-bar {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        background-color: #594284;
        width: 100%;
        height: 60px;
        color: white;
    }

    .data-side-bar ul {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .data-side-bar .header span,
    .data-side-bar .header .bxs-chevron-right {
        display: none;
    }

    .product-data {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 430px) {
    .item-card {
        width: 200px;
    }
}

@media(max-width: 399px) {
    .item-card {
        padding: 4px;
        width: 170px;
    }
}

#profile {
    display: none;
}

/*user on login*/
.profile-drop li a {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 8px 14px;
    color: #8e75bd;
}

.profile-drop li a:hover {
    color: #ffffff;
    background-color: #8e75bd
}

.profile-drop li a>i {
    padding-right: 8px
}
